:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD9B2;
	--small: 14px;
	--medium: 16px;
	--large: 18px;
}

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

.mobile-menu {
	padding: 24px;
}

.mobile-menu ul {
	padding: 0;
	margin: 24px 0 0;
	list-style: none;
}

.mobile-menu a {
	text-decoration: none;
	color: var(--black);
	font-weight: bold;
}

.mobile-menu ul:nth-child(1) {
	border-bottom: 1px solid var(--very-light-pink);
}


.mobile-menu ul li {
	margin-bottom: 24px;
}

.email {
	font-size: var(--small);
	font-weight: 300 !important;

}

.sign-out {
	font-size: var(--small);
	color: var(--hospital-green) !important;
}

.mobile-menu ul:nth-child(3) {
	position: absolute;
	bottom: 0;
}